

$color_grey: rgb(100, 100, 100);
$color_grey-dark : #222222;
$color_grey-ligth: #F2F2F2;
$color_blue-ligth: #778BEB;
$color_blue-dark: #546DE5;
$color_salmon-dark: #E66767;
$color_salmon-ligth: #ea8685;
$color_white: #FFFFFF;

$color_border:rgba(0, 0, 0, .2);

$border: #222222;

$color_background-white: #fcfcfc;
$color_text-black: rgb(15, 15, 15);

$defaultTransition: background-color .15s ease, color .15s ease;



